﻿@using GroupRun.ViewModels
@model List<UserViewModel>

<section class="flush-with-above">
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-hover align-items-center table-borderless">
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr class="bg-white">
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <img alt="Image" src="@user.ProfileImageUrl" style="width: 64px; height: 64px; object-fit: cover; border-radius: 50%;" />
                                        <div class="media-body ml-2">
                                            <span class="h6 mb-0">@user.UserName</span>
                                        </div>
                                    </div>

                                </th>
                                <td>
                                    <a class="btn btn-outline-primary" asp-controller="User" asp-action="Detail" asp-route-id="@user.Id">
                                        View Profile
                                    </a>
                                </td>

                                @{
                                    var mileage = user.Mileage == null ? "0" : user.Mileage.ToString();
                                    var pace = user.Pace == null ? "0" : user.Pace.ToString();
                                }
                                <td>@mileage Miles at @pace MPH</td>
                               @*<td><i class="icon-location"></i> @user.Location</td>*@
                          </tr>
                            <tr class="table-divider">
                                <th></th>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>