@model CreateClubViewModel
@using GroupRun.Data.Enum
@using GroupRun.ViewModels

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <input type="hidden" id="AppUserId" name="AppUserId" asp-for="AppUserId"/>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address.Street" class="control-label"></label>
        <input asp-for="Address.Street" class="form-control" />
        <span asp-validation-for="Address.Street" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address.City" class="control-label"></label>
        <input asp-for="Address.City" class="form-control" />
        <span asp-validation-for="Address.City" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address.State" class="control-label"></label>
        <input asp-for="Address.State" class="form-control" />
        <span asp-validation-for="Address.State" class="text-danger"></span>
    </div>

    <div class="form-group mb-1">
        <label asp-for="ClubCategory" class="control-label"></label>
        <select asp-for="ClubCategory" class="form-control" asp-items="@(Html.GetEnumSelectList<ClubCategory>())"></select>
        <span asp-validation-for="ClubCategory" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Image" class="control-label"></label>
        <input asp-for="Image" type="file" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>