@using GroupRun.Data.Enum
@model Club

<h1>Are you sure you want to delete this Club?</h1>

<form method="post" asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" placeholder="Title" readonly>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" placeholder="Description" readonly>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address.Street">Street</label>
        <input asp-for="Address.Street" class="form-control" placeholder="Street" readonly>
        <span asp-validation-for="Address.Street" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address.City">City</label>
        <input asp-for="Address.City" class="form-control" placeholder="City" readonly>
        <span asp-validation-for="Address.City" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address.State">State</label>
        <input asp-for="Address.State" class="form-control" placeholder="State" readonly>
        <span asp-validation-for="Address.State" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ClubCategory">Club Category</label>
        <select asp-for="ClubCategory" asp-items="@Html.GetEnumSelectList<ClubCategory>()" class="form-control" disabled>
            <option selected="selected" value="">--Select--</option>
        </select>
        <span asp-validation-for="ClubCategory" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input asp-for="Image" class="form-control" placeholder="Image" readonly>
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Confirm" class="btn btn-danger float-right mt-3" />
        <a href="@Url.Action("Index", "Club")" class="btn btn-secondary float-right mt-3 mr-2">Cancel</a>
    </div>
</form>
